doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='keywords', content='')
    title GetGymnast
    link(rel='stylesheet', media='screen', href='../css/bootstrap.min.css')
    link(rel='stylesheet', media='screen', href='../css/app.css')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='../js/scroll-up-bar.min.js')
    script(src='../js/smooth-scroll.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js')
    script(src='//cdn.optimizely.com/js/2407530281.js')
    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.0";
      analytics.load("gZKRWs14E5uP0WrtScwwBdDb9i1Ha1HR");
      analytics.page()
      }}();
    script(src='../js/app.js')
  body
    .container-fluid
      .container
        .row.navigation
          .col-md-2.text-left
            img(src="../img/1.png")
          .col-md-2.col-md-offset-6.stlogo WHY GYMNAST?!!!!
          .col-md-2.stlogo BUY FOR $4.99
        .row.intro
          .col-md-6.intro_text
            h1
              p 10 seconds
              p 3 times a week
            h2 That is how much you will spend with your Starting Strength numbers
          .col-md-6.text-right
            img(src="../img/intro_img.png")
    .container-fluid.statistics
      .container
        .row
          .col-md-12.text-center
            h1.stlogo No more forgetting workouts
            h4.stlogo
              p How many time you forgot the numbers of your last workout?
              p Or been fumbling with your phone when you should have been lifting?
            img.second(src="../img/progress_img.png")
    .container-fluid.walk
      .container
        .row.middle
          .col-md-6.text-center
            h1.stlogo.white Simplest progress tracking for Starting Strength
            h4.stlogo.white 10 seconds on your way from the gym
          .col-md-6
    .container-fluid.statistics
      .container
        .row
          .col-md-12.text-center
            h1.stlogo Make better training decisions
            h4.stlogo Just the information you need to break through your plateaus.
            img.second(src="../img/statistics_img.png")
    .container-fluid.testimonials
      .container
        .row
          .col-md-1
            img(src="../img/avatar_1.png").img-circle
          .col-md-5.text-center
            blockquote
              p I just wanted to lift with clear mind. Gymnast helper me do that.
              footer Daniel Stenger, lifting for 5 years

          .col-md-1
            img(src="../img/avatar_2.png").img-circle
          .col-md-5.text-center
            blockquote
              p Gymnast helped me track my weak points with minimal effort on my part.
              footer.vcenter Mindaugas Kurmauskas, lifting for 1 year

    .container-fluid.buy
      .container
        .row
          .col-md-12.text-center
            h1 Bench that bodyweight quicker and save your time
            h3 just for $4.99
            img(src="../img/app_store_img.png")

    .container-fluid.footer
      .container
        .row
          .col-md-6
            p Home
            p Meet the team
            p Blog
          .col-md-6
            h3 Contact us
            h4 Spacepicnic Design Studio
            p Office at Šaltinių g. 1-28, Vilnius, Lithuania
            p domas.bitvinskas@me.com
            p @nedomas
